<header class="bg-primary" id="about">
   <div class="container">
        <div class="row top-space">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="me.png" height="150px" width="130px">
                <h2>here's a little about myself:</h2>
                <hr class="light">
                <p>I'm a junior data visualization developer at the Urban Institute and currently live in Washington D.C. I recently graduated with a Master's Degree at Johns Hopkins University in Government Analytics with a Statistical Analysis concentration. I've only been in the data viz realm for less than a year but have been fascinated with the capabilities of D3. I seek inspiration from the New York Times, Flowing Data, and Blocks from other data visualizers. Feel free to view some of my work below! </p>
                <h2>fun facts:</h2>
                <hr class="light">
                <p>I have a ginger cat named Maverick, who's obsessed with broccoli. <br />
                I spent two years studying in France, which has certainly contributed to my obsession of cheese.<br />
                I'm left-handed (I like to say that's where my creativity stems from).</p>
            </div> 
        </div>
    </div> 
</header>
