<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="me.png" height="150px" width="130px">
                <h2>Here's a little about myself:</h2>
                <hr class="light">
                <p>I'm a data visualization developer at the Urban Institute. I currently live in Washington D.C. and recently graduated with a Master's Degree at Johns Hopkins University in Government Analytics. I've only been in the data viz realm for less than a year but have been able to produce some cool things with D3 (although there is so much more to learn!). </p>
                <h2>Fun Facts:</h2>
                <hr class="light">
                <p>I have a ginger cat named Maverick, who's obsessed with broccoli. <br />
                I spent two years studying in France, which has certainly contributed to my obsession of cheese.<br />
                I'm left-handed (I like to say that's where my creativity stems from).</p>
            </div>
        </div>
    </div>
</section>
