<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="http://www.urban.org/features/state-immigration-policy-resource" target="_blank" class="portfolio-box">
                    <img src="1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                d3 data viz
                            </div>
                            <div class="project-name">
                                State Immigration Policy Resource Tool
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://apps.urban.org/features/latino-criminal-justice-data/" target="_blank" class="portfolio-box">
                    <img src="2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                d3 data viz
                            </div>
                            <div class="project-name">
                                Feature: Latinos in the Criminal Justice System
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://www.urban.org/policy-centers/metropolitan-housing-and-communities-policy-center/projects/cost-segregation" target="_blank" class="portfolio-box">
                    <img src="3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                d3 data viz
                            </div>
                            <div class="project-name">
                                Mapping segregation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://www.urban.org/features/gun-violence-stunting-business-growth" target="_blank" class="portfolio-box">
                    <img src="4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                mapbox and d3 data viz
                            </div>
                            <div class="project-name">
                                Feature: Gun Violence on Business Growth
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://collegeaffordability.urban.org/" target="_blank" class="portfolio-box">
                    <img src="5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                c3.js charts
                            </div>
                            <div class="project-name">
                                College Affordability Website
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://vivhou.github.io/D3-final-project/#" target="_blank" class="portfolio-box">
                    <img src="6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                d3 data viz
                            </div>
                            <div class="project-name">
                                Final project in data viz course
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
